@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
  font-family: 'Prompt', sans-serif;
}
.breadcrumb {
  padding: 2px 15px !important;
  margin: 0px;
}
.breadcrumb-item+.breadcrumb-item::before {
  content: '|';
  display: inline-block;
  color: rgb(18, 16, 16);
  height: 20px;
}
a:link {
  text-decoration:none;
}
a:visited {
  text-decoration:none;
}
.Social i{
  padding-left: 10px;
}
.fa-twitter{
  color: #1DA1F2;
  font-size: 1em;
}
.fa-square-facebook{
  color: #4267B2;
  font-size: 1em;
}
.fa-instagram{
  color: #8a3ab9;
  font-size: 1em;
}
.fa-line{
  color: #00B900;
  font-size: 1em;
}
.fa-youtube{
  color: #FF0000;
  font-size: 1em;
}
.shrink_size{
  font-weight: 400px;
  margin-right: 10px;
  color: #343434;
}
.increase_size{
  font-weight: 800;
  font-size: 16px;
  color: #343434;
}
.btn-sm{
  height: 30px;
}
.change_language{
  margin-right: 10px;
  margin-left: 10px;
  color: #343434;
}
.span{
  margin-right: 5px;
  margin-left: 5px;
}
.size_sm{
  color: #4267B2;
}
.size_md{
  color: #4267B2;
}
.size_lx{
  color: #4267B2;
}
.logo{
  width: 70%;
}
ul#menu li{
  margin-right: 30px;
}
